@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile" class="text-muted me-3">
            <i class="iconify" data-icon="oi:person"></i>
        </a>
        <a href="authentication/logout" class="text-muted me-3" @onclick="BeginSignOut"><i class="iconify"
                data-icon="oi:account-logout"></i></a>
        <a href="admin/menu" class="text-muted me-3">
            <i class="iconify" data-icon="material-symbols:dashboard"></i>
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register" class="text-muted me-3"><i class="iconify" data-icon="oi:key"></i></a>
        <a href="authentication/login" class="text-muted me-3"><i class="iconify" data-icon="oi:account-login"></i></a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
