@using project.Client.Services
@using project.Shared
@inject ICategoryService _category

<style>
    .myAllDepartment {
        border-radius: 8px;
    }
</style>

@if (category == null)
{
    <p><em>Loading...</em></p>
}else{
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand d-lg-none" href="index.html">
                <img src="images/logo/freshcart-logo.svg" alt="Fresh Cart">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <a class="btn btn-success d-none d-lg-inline-block myAllDepartment" href="#"><i class="iconify"
                        data-icon="ri:apps-line" /> All Departments</a>
                <ul class="navbar-nav me-auto">
                    @foreach (var item in category)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">@item.Name</a>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mega Menu
                        </a>
                        <ul class="dropdown-menu">
                            @foreach(var items in subcategory){
                                <li><a class="dropdown-item" href="#">@items.Name</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <LoginDisplay />
    </nav>
}


@code{
    private List<Category> category;
    private List<SubCategory> subcategory;
    
    protected override async Task OnInitializedAsync(){
        try{
            category = await _category.GetCategories();
            subcategory = await _category.GetSubCategories();
        }
        catch(Exception ex){
            Console.WriteLine($"Error fetching product list: {ex.Message}");
        }
    }
}
