<div class="col-lg-2 col-md-6 col-6 text-end">
    <div class="d-inline-flex align-items-center">
        <a href="#" class="text-muted me-3 position-relative">
            <i class="iconify" data-icon="oi:heart"></i>
            <span class="badge bg-success position-absolute top-0 start-100 translate-middle">4</span>
        </a>
        <LoginDisplay />
        <a href="#" class="text-muted position-relative">
            <i class="iconify" data-icon="oi:basket"></i>
            <span class="badge bg-success position-absolute top-0 start-100 translate-middle">5</span>
        </a>
    </div>
</div>