<div class="col-lg-2 col-md-6 col-6 text-end">
    <div class="d-inline-flex align-items-center">
        <a href="#" class="text-muted me-3 position-relative">
            <i class="bi bi-heart"></i>
            <span class="badge bg-success position-absolute top-0 start-100 translate-middle">4</span>
        </a>
        <a href="#" class="text-muted me-3">
            <i class="bi bi-person"></i>
        </a>
        <a href="#" class="text-muted position-relative">
            <i class="bi bi-bag"></i>
            <span class="badge bg-success position-absolute top-0 start-100 translate-middle">5</span>
        </a>
    </div>
</div>