<div class="col-lg-5 d-none d-lg-block">
    <form>
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search for products">
            <button class="btn btn-outline-secondary" type="button">
                <span><i class="iconify" data-icon="oi:location"></i> Location</span>
            </button>
        </div>
    </form>
</div>