@page "/admin/categories"
@using Microsoft.AspNetCore.Authorization
@using project.Client.Services
@using project.Shared
@* @attribute [Authorize(Roles = "admin")] *@
@attribute [Authorize]
@inject ICategoryService _category

<PageTitle>Dashboard</PageTitle>
<h2>Category List</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Add - Delete</th>
            </tr>
        </thead>
        <tbody>
            @if(category == null){
                <p><em>Loading...</em></p>
            }
            else{
                @foreach(var item in category){
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.Name</td>
                        <td><button type="button" class="btn btn-success">Edit</button> <button type="button" class="btn btn-danger">Delete</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@code {
    private List<Category> category {get; set;}

    protected override async Task OnInitializedAsync(){
        category = await _category.GetCategories();
    }
}
